<div>
    <h2>
        <span jhiTranslate="discoveryApp.escritorio.home.title">Escritorios</span>
        <button class="btn btn-primary float-right jh-create-entity create-escritorio" [routerLink]="['/', { outlets: { popup: ['escritorio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="discoveryApp.escritorio.home.createLabel">
            Create new Escritorio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="escritorios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nome"><span jhiTranslate="discoveryApp.escritorio.nome">Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telefone"><span jhiTranslate="discoveryApp.escritorio.telefone">Telefone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="discoveryApp.escritorio.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conviteId"><span jhiTranslate="discoveryApp.escritorio.convite">Convite</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let escritorio of escritorios ;trackBy: trackId">
                <td><a [routerLink]="['../escritorio', escritorio.id ]">{{escritorio.id}}</a></td>
                <td>{{escritorio.nome}}</td>
                <td>{{escritorio.telefone}}</td>
                <td>{{escritorio.email}}</td>
                <td>
                    <div *ngIf="escritorio.conviteId">
                        <a [routerLink]="['../convite', escritorio.conviteId  ]" >{{escritorio.conviteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../escritorio', escritorio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'escritorio/'+ escritorio.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'escritorio/'+ escritorio.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="escritorios && escritorios.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
