
<div *ngIf="pendencia">
    <h2><span jhiTranslate="discoveryApp.pendencia.detail.title">Pendencia</span> {{pendencia.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="discoveryApp.pendencia.providencia">Providencia</span></dt>
        <dd>
            <span>{{pendencia.providencia}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.pendencia.observacoes">Observacoes</span></dt>
        <dd>
            <span>{{pendencia.observacoes}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.pendencia.dataInicial">Data Inicial</span></dt>
        <dd>
            <span>{{pendencia.dataInicial | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.pendencia.dataFinal">Data Final</span></dt>
        <dd>
            <span>{{pendencia.dataFinal | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.pendencia.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'discoveryApp.Status.' + pendencia.status}}">{{pendencia.status}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.pendencia.processo">Processo</span></dt>
        <dd>
            <div *ngIf="pendencia.processoId">
                <a [routerLink]="['/processo', pendencia.processoId]">{{pendencia.processoId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="discoveryApp.pendencia.advogado">Advogado</span></dt>
        <dd>
            <span *ngFor="let advogado of pendencia.advogados; let last = last">
                <a [routerLink]="['/user-extra', advogado?.id ]">{{advogado.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pendencia/'+ pendencia.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
