
<div *ngIf="processo">
    <h2><span jhiTranslate="discoveryApp.processo.detail.title">Processo</span> {{processo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="discoveryApp.processo.numero">Numero</span></dt>
        <dd>
            <span>{{processo.numero}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.processo.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'discoveryApp.Status.' + processo.status}}">{{processo.status}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.processo.parteadversa">Parteadversa</span></dt>
        <dd>
            <span>{{processo.parteadversa}}</span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.processo.advogadoCorrente">Advogado Corrente</span></dt>
        <dd>
            <div *ngIf="processo.advogadoCorrenteId">
                <a [routerLink]="['/user-extra', processo.advogadoCorrenteId]">{{processo.advogadoCorrenteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="discoveryApp.processo.cliente">Cliente</span></dt>
        <dd>
            <div *ngIf="processo.clienteId">
                <a [routerLink]="['/user-extra', processo.clienteId]">{{processo.clienteId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="discoveryApp.processo.advogado">Advogado</span></dt>
        <dd>
            <span *ngFor="let advogado of processo.advogados; let last = last">
                <a [routerLink]="['/user-extra', advogado?.id ]">{{advogado.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="discoveryApp.processo.anexo">Anexo</span></dt>
        <dd>
            <span *ngFor="let anexo of processo.anexos; let last = last">
                <a [routerLink]="['/anexo', anexo?.id ]">{{anexo.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'processo/'+ processo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
