<div>
    <h2>
        <span jhiTranslate="discoveryApp.convite.home.title">Convites</span>
        <button class="btn btn-primary float-right jh-create-entity create-convite" [routerLink]="['/', { outlets: { popup: ['convite-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="discoveryApp.convite.home.createLabel">
            Create new Convite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="convites">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="discoveryApp.convite.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataEnvio"><span jhiTranslate="discoveryApp.convite.dataEnvio">Data Envio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataAceitado"><span jhiTranslate="discoveryApp.convite.dataAceitado">Data Aceitado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataRejeitado"><span jhiTranslate="discoveryApp.convite.dataRejeitado">Data Rejeitado</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let convite of convites ;trackBy: trackId">
                <td><a [routerLink]="['../convite', convite.id ]">{{convite.id}}</a></td>
                <td>{{convite.email}}</td>
                <td>{{convite.dataEnvio | date:'medium'}}</td>
                <td>{{convite.dataAceitado | date:'medium'}}</td>
                <td>{{convite.dataRejeitado | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../convite', convite.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'convite/'+ convite.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'convite/'+ convite.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="convites && convites.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
